<!doctype html>
<html>
  <head>
    <title>Webchat Trybe</title>
    <link rel="stylesheet" href="./css/style.css"/>
  </head>
  <body>
    <header>
      <h1>Webchat Random</h1>
    </header>
    
    <section>
      <section class="class-nickname">
          <input 
            data-testid="nickname-box"
            type="text"
            id="name"
            placeholder="Insert your Nickname"
          />
          <button
            type="button"
            id="btn-nickname"
            data-testid="nickname-button"
          >Save</button>
      </section>

      <div class="class-names">
        <ul id='id-user'></ul>
      </div>
    
      <section class="class-messages">  
        <ul id="message">
          <% allDatas.forEach((allData) => { %>
            <li data-testid="message">
              <%= `${allData.userInfo.timestamp} - ${allData.userInfo.nickname}: ${allData.userInfo.message}` %>
            </li>
        <% }) %>
        </ul>
      </section> 
      <section class="class-forms">
        <form action="" class="class-form-form">
          <input 
            id="messageIn" 
            autocomplete="off" 
            data-testid="message-box"
            type="text"
            placeholder="Enter a new message"
          />
            <button
              data-testid="send-button"
              id="btn-message-send"
            >Send</button>
        </form>
      </section>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./js/chat.js"></script>      
    </section>
  </body>
</html>