<!doctype html>
<html>
  <head>
    <title>Webchat Trybe</title>
  </head>
  <body>
    <header>
      <h1>Webchat Random</h1>
    </header>

    <section>
      <section>
          <input 
            data-testid="nickname-box"
            type="text"
            id="name"
            placeholder="Insert your Nickname"
          />
          <button
            type="button"
            id="btn-nickname"
            data-testid="nickname-button"
          >Save</button>
      </section>
      
      <aside>
        <ul
         id= "id-user"
        ></ul>
      </aside>

      <section>  
        <ul 
          id="message"
        ></ul>
      </section>
    
      <section>
        <form action="">
          <input 
            id="messageIn" 
            autocomplete="off" 
            data-testid="message-box"
            type="text"
            placeholder="Enter a new message"
          />
            <button
              data-testid="send-button"
            >Send</button>
        </form>
      </section>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          // fui obrigado a por esse script aqui dentro. Não sei pq, recebia a msg not found 404
          // mesmo tendo alterado o link do script diversas vezes
        
          const socket = window.io();
          let nickname = ''; //apenas para passar no req 1 - Arrumarei no req 2

          // Requisito 1
        
          const form = document.querySelector('form');
          const inputMessage = document.querySelector('#messageIn');
          const inputNickname = document.querySelector('#name');
          const btnNickname = document.querySelector('#btn-nickname');
          
        
          form.addEventListener('submit', (e) => {
              e.preventDefault();
              const chatMessage = inputMessage.value;
              socket.emit('message', {nickname, chatMessage});
              inputMessage.value = '';
              return false;
          });
        
          const createMessage = (message) => {
              const messagesUl = document.querySelector('#message');
              const li = document.createElement('li');
              li.dataset.testid="message";
              li.innerText = message;
              messagesUl.appendChild(li);
          };

          // Requisito 2
          btnNickname.addEventListener('click', (e) => {
            const nameUser = inputNickname.value;
            socket.emit('users', nameUser);
            inputNickname.value='';
            nickname = nameUser;
            return false;
          });

          const createNickname = (nickname) => {
            const userField = document.querySelector('#id-user');
            const userLi = document.createElement('li');
            userLi.innerText = nickname;
            userLi.dataset.testid = "online-user";
            userField.appendChild(userLi); 
          }
 
          socket.on('message', (message) => createMessage(message));
          socket.on('users', (nickname) => createNickname(nickname));
        </script>
    </section>
  </body>
</html>